<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cinemalleo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ff1"
        android:label="Formula 1"
        android:roundIcon="@mipmap/ff1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CustomAdapterr"></activity>
        <activity android:name=".AppListView" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main2Activity"
            android:label="@string/app_name">
            <intent-filter>
                <data
                    android:host="wwww.formula1.com"
                    android:scheme="http" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>